@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body{
    font: normal 150% 'nunito', sans-serif;
    background: #edf2f3;
    }

.img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 30%);
}

.info{
    display: flex;
}

.ul {
list-style: none;
margin-left: 15px;
padding-left: 5px;
margin-top: 0;
background:#edf2f3;
}

.info p {
    margin-left: 15px;
    padding-left: 5px;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    display: inline;
}

.contacts {
size-adjust: auto;
display:contents;
    /* background: black;*/
}