@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body{
    font: normal 150%  'nunito', sans-serif;
    color: #edf2f3;
    background: #edf2f3;
    background-image: url(горы4.png),url(звезды2.jpg);
    background-size:100% 100%, 100%;
    background-attachment: fixed, scroll;
    /* background-repeat: no-repeat; */
    }

.img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 4px 2px 5px rgb(0 0 0 / 30%);
}

.info{
    display: flex;
    background-size: 100%;
}

.ul {
list-style: none;
margin-left: 15px;
padding-left: 5px;
margin-top: 0;
background: transparent;
}

.info p {
    margin-left: 15px;
    padding-left: 5px;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    display: inline;
}

.img:hover {
transition: all .8s ease-in-out;
transform: rotate(1.9turn);
border-radius: 200px;
width: 200px;
height: 200px;
size: 200%;
}

.contacts:hover{
    /* width: 50px; */
    transition: all .3s ease-in-out;
    transform: rotate(1turn); 
}
