@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body{
    font: normal 150%  'nunito', sans-serif;
    color: #edf2f3;
    background-image: url(горы4.png),url(звезды2.jpg), linear-gradient(to top, #080017,#080017);
    background-size: 100% auto, 100% auto;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat;
    margin-left: 15px;
    }

.img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 4px 2px 5px rgb(0 0 0 / 30%);
}

.info{
    display: flex;
    background-size: 100%;
}

.ul {
    list-style: none;
    margin-left: 15px;
    padding-left: 5px;
    margin-top: 0;
    background: transparent;
}

.info p {
    margin-left: 15px;
    padding-left: 5px;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    display: inline;
}

.img:hover {
    transition: all .8s ease-in-out;
    transform: rotate(0.9turn);
    border-radius: 200px;
    width: 200px;
    height: 200px;
    size: 200%;
}

.contacts{
    width: 40px;
    padding: 5px;
}

.contacts:hover{
    transition: all .3s ease-in-out;
    transform: rotate(1turn); 
}

.flytabs input{
    display: none;
}
    /* } Скрыть чекбокс */

.flytabs div{
    display: none;
 } /* Скрыть всплывающие окна */

.skills {
    display: block;
    margin-top: 15px;
    width: 30%;
    text-align:center;
    font-weight: 900;
    text-shadow: 1px 1px 2px black;
    padding: 12px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: transparent;
    border-left: 2px solid #30295a;
    border-top: 2px solid #30295a;
    border-right: 20px solid rgb(53, 136, 175, .9);
    border-bottom: 2px solid #30295a;
    border-radius: 25px 0;
    }

.skills:hover{
    background: rgb(71, 62, 133, .3);
    width: 35%;
    border-left: 5px solid #30295a;
    border-top: 5px solid #30295a;
    border-right: 25px solid rgba(53, 136, 175, 0.9);
    border-bottom: 5px solid #30295a;
    transition: all .2s ease-in-out;
}

#tabs_exp1:checked ~ .flybox{
    display:block;
} 
#tabs_exp2:checked ~ .flybox{
    display:block;
} 

#tabs_exp1:checked + label{
    width: 100%;  
    background: rgb(71, 62, 133);
    border-right: 70px solid rgb(53, 136, 175, .9);
    border-radius: 0 25px;
    transition: all 1s;
}

#tabs_exp2:checked + label{
    width: 100%;  
    background: rgb(71, 62, 133);
    border-right: 70px solid rgb(53, 136, 175, .9);
    border-radius: 0 25px;
    transition: all 1s;
}

.flybox ol{
    list-style:upper-roman;
    background: rgb(71, 62, 133, .8);
    font-size:70%;
    margin: 5px;
    padding: 5px;
    padding-left: 20px;
    border: 2px solid #30295a;
    border-radius: 25px;
}

.flybox table thead{
    border: 1px black;
    text-align:center;
    width: 100%;     
}

.flybox table tr{
    border: 1px black;
    text-align:center;   
    width: 10px;
}


.navbar{
    position: fixed;
    display: inline-block;
    bottom: 0;
    left: 50%;
    right: 50%;
    z-index: 2;
    cursor: pointer;
    background: black;
    font-weight: 800;
    text-shadow: 1px 2px 3px black;
}

.form{
    display: block;
    text-align: center;
    font-size: 80%;
    background: rgba(48, 41, 90, 0.3);
}

.form h2{
    margin-bottom: 2px;
}
.connect {
    display: flex;
    box-sizing:content-box;
}

.connect label{
    padding: 5px;
    text-align: center;
}
.connect ::placeholder{
    color: whitesmoke;
    padding: 5px;
    font-size: 100%;
}
.connect input,
.connect textarea {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 2px solid #ccc;
    color: whitesmoke;
    font-size: 100%;
    font-family: inherit;
}

.btn {
    /* width: 40%;
    background: #111;*/
    padding: 15px 20px;
    text-align: center;
    color: 30295a;
    font-weight: 600;
    margin: 5px;
    font-size: 90%;
    border: transparent;
    border-radius: 10px;
    font-family: inherit;
    cursor: pointer; 
}
      
.btn:hover {
    opacity: 0.8;
}

@media (max-width:550px) {
    .info {
        display:inline-block;
        text-align: center;
        font-size: 70%;
        box-sizing: border-box; 
        /* color: #30295a; */
        /* background: #30295a; */
        text-shadow: 1px 0px 1px #786fad;
        font-weight: 900;

    }

    .info ul {
        background: rgb(48, 41, 90, .3);
    }

    .ul {
        display: inline-block;
        box-sizing: border-box;
    }
    .contacts {
        width: 45px;
        padding: 7px;
        transition: all .3s ease-in-out;
        transform: rotate(1turn); 
    }
    .skills {
        display: block;
        margin-top: 15px;
        width: 55%;
        text-align:center;
        font-weight: 900;
        text-shadow: 1px 1px 2px black;
        padding: 12px;
        cursor: pointer;
        box-sizing: border-box;
        background-color: transparent;
        border-left: 2px solid #30295a;
        border-top: 2px solid #30295a;
        border-right: 20px solid rgb(53, 136, 175, .9);
        border-bottom: 2px solid #30295a;
        border-radius: 25px 0;
    }
    .skills:hover {
        background: rgb(71, 62, 133, .3);
        width: 55%;
        border-left: 2px solid #30295a;
        border-top: 2px solid #30295a;
        border-right: 20px solid rgb(53, 136, 175, .9);
        border-bottom: 2px solid #30295a;
        border-radius: 25px 0;
    }  
    .flybox ol{
        font-size: 60%;
    }
}

